
@{
    ViewBag.Title = "Creat";
}

<h2>Creat</h2>
<form action="~/img/Creat" method="post"enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" id="uploadimg" name="uploadimg" accept="img/*" />
    </div>
</form>

